@import '../../style/colors';
@import '../../style/mixins';

.placeholders-row {
    background-color: $dark-blue;
    display: flex;
    padding: 4px;
    border-radius: 4px;
    
    &:not(:nth-child(6)) {
        margin-bottom: 4px;
    }

    .single-placeholder {
        @include flex-center();
        width: 38px;
        height: 60px;
        border-radius: 4px;
        background-color: $light-blue;

        &:not(:nth-child(4)) {
            margin-right: 5px
        }
    }
}