@import '../../styles/colors';
@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body, #root {
    width: 100vw;
    height: 100vh;
}

#root {
    @include flex-center();
    font-family: 'Fredoka One', cursive;

    .start-game-box {
        margin: 0 auto;
        width: 90%;
        max-width: 400px;
        height: 100%;

        h1 {
            color: $light-blue;
            text-align: center;
            margin-bottom: 30px;
            font-size: 36px;
            text-transform: uppercase;
            text-shadow: 2px 2px 0px 0px #00000085;
        }

        .description p:nth-of-type(2){
            color: $dark-blue;
            margin-top: 30px;
        }

        p {
            color: #fff;
            margin: 10px 0;
        }

        .symbols {
            p {
                display: flex;
                align-items: center;

                &:last-child {
                    margin-bottom: 60px;
                }
            }

            .circle {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 10px;
    
                &.red {
                    background-color: $red;
                }
    
                &.yellow {
                    background-color: $yellow;
                }
            }
        }

        .start-game-bttn { 
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 135px;
            height: 50px;
            background-color: $light-blue;
            color: $dark-blue;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            box-shadow: 3px -3px 1px 0px #00000040 inset, -3px 3px 2px 0px #FFFFFFE5 inset;
            padding: 15px 23px;
        }
    }
}

