@import '../../style/colors';

.accept-bttn {
    font-family: 'Fredoka One', cursive;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 22px;
    padding: 14px 34px;
    background-color: $dark-blue;
    color: #FFF;
    border: none;
    border-radius: 4px;

    &:disabled {
        opacity: 0.8;
    }
}